<div class="container-fluid">
  <ng-container *ngIf="forecastData$ | async as forecastData; else loader">
    <div class="panel panel-default app-loader">
      <div class="panel-heading">
        <h3 class="panel-title">
          5-day forecast for {{ forecastData.city.name }}
        </h3>
      </div>
      <ul class="list-group">
        <li
          class="list-group-item"
          *ngFor="let weatherDay of forecastData.list"
        >
          <ng-container *ngIf="weatherDay.weather[0] as weatherDayData">
            {{ weatherDay.dt | customDate }}: {{ weatherDayData.main }} - Min:
            {{ weatherDay.main.temp_min | customNumber }} - Max:
            {{ weatherDay.main.temp_max | customNumber }}
            <img
              *ngIf="weatherDayData.main | weatherIcon as iconUrl"
              [src]="iconUrl"
              class="icon"
            />
          </ng-container>
        </li>
      </ul>
    </div>
  </ng-container>
  <ng-template #loader>
    <app-loader></app-loader>
  </ng-template>
  <button
    class="btn btn-success"
    tabindex="0"
    id="mainPageBtn"
    [routerLink]="['/']"
  >
    &lt; Back to main page
  </button>
</div>
