<div class="container-fluid">
  <div class="well">
    <h2>Enter a zipcode:</h2>
    <form [formGroup]="homeForm" (ngSubmit)="onSubmit()">
      <div class="row">
        <div class="col-lg-4">
          <input
            class="form-control"
            placeholder="Zipcode"
            type="text"
            id="addLocation"
            formControlName="zipCode"
          />
        </div>
      </div>
      <br />
      <button class="btn btn-primary" id="addLocationBtn" type="submit" [disabled]="homeForm.invalid">
        Add location
      </button>
    </form>
  </div>
  <ng-container *ngIf="openWeatherZipCodes$ | async as openWeatherZipCodes; else loader">
    <div class="well flex" *ngFor="let data of openWeatherZipCodes; index as i">
      <ng-container *ngIf="data.response.weather[0] as weatherData">
        <div>
          <h3>{{ data.response.name }} ({{ data.zipCode }})</h3>
          <h4>Current conditions: {{ weatherData.description }}</h4>
          <h4>Temperatures today:</h4>
          <p>
            Current {{ data.response.main.temp | customNumber }} - Max
            {{ data.response.main.temp_max | customNumber }} - Min
            {{ data.response.main.temp_min | customNumber }}
          </p>
          <p>
            <a [routerLink]="['/forecast', data.zipCode ]"
              >Show 5-day forecast for {{ data.response.name }}</a
            >
          </p>
        </div>
        <div>
          <span class="close" (click)="onDelete(data.zipCode)">×</span>
          <img *ngIf="weatherData.main | weatherIcon as iconUrl" [src]="iconUrl" />
        </div>
      </ng-container>
    </div>
  </ng-container>
  <ng-template #loader>
    <app-loader></app-loader>
  </ng-template>
</div>
